<div *ngIf="!editing" class="edit-container">
  <span class="name">{{ worker.name }}</span>
  <span class="surname">{{ worker.surname }}</span>
  <span class="speciality">{{ worker.speciality }}</span> 
  <span class="email">{{ worker.email }}</span>
  <span class="phone">{{ worker.phoneNum }}</span>
  <button (click)="editClicked()" class="text-button edit-button btn1"><fa-icon icon="edit"></fa-icon></button>
  <button (click)="deleteClicked()" class="text-button edit-button btn2"><fa-icon icon="trash"></fa-icon></button>
</div>
<form *ngIf="editing" [formGroup]="form" class="edit-container">
  <input
    type="text"
    id="name"
    formControlName="name"
    class="form-control form-input form-input--inline"
    [ngClass]="{'bad-input': nameErr}"
  />
  <input
    type="text"
    id="surname"
    formControlName="surname"
    class="form-control form-input form-input--inline"
    [ngClass]="{'bad-input': surnameErr}"
  />
  <input
    type="text"
    id="speciality"
    formControlName="speciality"
    class="form-control form-input form-input--inline"
    [ngClass]="{'bad-input': specialityErr}"
  />
  <input
    type="text"
    id="email"
    formControlName="email"
    class="form-control form-input form-input--inline"
    [ngClass]="{'bad-input': emailErr}"
  />
  <input
    type="text"
    id="phoneNum"
    formControlName="phoneNum"
    class="form-control form-input form-input--inline"
    [ngClass]="{'bad-input': phoneNumErr}"
  />
  <button [disabled]="!form.valid" (click)="saveClicked()" class="text-button edit-button"><fa-icon icon="save"></fa-icon></button>
</form>
