:host {
  width: min(50%, 50rem);
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem;
}

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
}

@media (max-width: 45em) {
  .container {
    grid-template-columns: 1fr;
  }
}
