:host {
  align-self: center;
  margin-block: 2rem;
  /* clamp width on ultrawide monitors */
  width: min(50%, 40rem);
}

form {
  display: flex;
  flex-direction: column;
  margin-block-start: 1rem;
}

.password-input{
    margin-block-end: 2.2rem;
}

@media (max-width: 45em) {
  :host {
    width: 100%;
    padding: 0 1rem;
  }
}
