<div class="desc">
  <h1 class="card-title">Agencija {{ agency?.agencyName }}</h1>
  <div class="desc-panel">
    <img
      [src]="
        agency?.profilePic != ''
          ? agency?.profilePic
          : 'assets/agency-default.jpg'
      "
      class="card-img"
    />
    <div class="card-desc">
      <p class="address">{{agency?.street}}, {{agency?.city}}, {{ agency?.country }}</p>
      <p>{{ agency?.desc }}</p>
    </div>
  </div>
</div>
<div class="comments">
  <h1>Ocene i komentari:</h1>
  <div
    *ngFor="let review of reviews"
    [ngClass]="{ 'review-card': loggedIn, 'review-card-anon': !loggedIn }"
  >
    <img *ngIf="loggedIn" [src]="reviewers.get(review.user)" alt="" />
    <h2 *ngIf="loggedIn">{{ review.user }}</h2>
    <h3>
      <fa-icon
        *ngFor="let item of generateSeq(review.rating)"
        icon="star"
      ></fa-icon>
    </h3>
    <p>{{ review.review }}</p>
  </div>
</div>
<div class="proposal">
  <a routerLink="/proposal/{{ agency?.username }}" class="text-button"
    >Zatraži saradnju</a
  >
</div>
