<main>
  <h1 class="title">Pregled agencija:</h1>
  <div class="search-panel">
    <div>
      <input
        type="text"
        (keydown)="keyboardSearch($event, query.value, searchCriteria.value)"
        #query
        class="form-input search"
      />
      <button
        (click)="search(query.value, searchCriteria.value)"
        class="text-button"
      >
        Pretraga
      </button>
    </div>
    <div>
      <span>Kriterijumi:</span>
      <select #searchCriteria class="select-input">
        <option value="name">Ime firme</option>
        <option value="adr">Adresa</option>
        <option value="both">Ime firme i adresa</option>
      </select>
    </div>
    <div>
      <span>Poredak:</span>
      <select
        #sortCriteria
        (change)="sort(sortCriteria.value)"
        class="select-input"
      >
        <option value="imeAsc">Ime firme - rastuće</option>
        <option value="imeDesc">Ime firme - opadajuće</option>
        <option value="adrAsc">Adresa - rastuće</option>
        <option value="adrDesc">Adresa - opadajuće</option>
      </select>
    </div>
  </div>
  <div class="content-grid">
    <app-agency-card
      *ngFor="let agencyOverview of filteredAgencies"
      [agency]="agencyOverview"
    ></app-agency-card>
  </div>
</main>
