<h1>Promena lozinke</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-input-container">
    <label for="password">Stara lozinka: </label>
    <input
      type="password"
      id="password"
      formControlName="oldPassword"
      class="form-input form-control"
      [ngClass]="{ 'form-input-err': oldPasswordErr }"
    />
    <p *ngIf="oldPasswordErr" class="form-input-err-msg">Neispravna lozinka!</p>
  </div>
  <div class="form-input-container">
    <label for="newPassword">Nova lozinka: </label>
    <input
      type="password"
      id="newPassword"
      formControlName="newPassword"
      class="form-input form-control"
      [ngClass]="{ 'form-input-err': newPasswordErr }"
    />
    <p *ngIf="newPasswordErr" class="form-input-err-msg">
      Ispravna lozinka ima 7-12 karaktera, bar 1 veliko slovo, cifru, spec.
      karakter, počinje slovom!
    </p>
  </div>
  <div class="form-input-container">
    <label for="repeatNewPassword">Ponovite novu lozinku: </label>
    <input
      type="password"
      id="repeatNewPassword"
      formControlName="repeatNewPassword"
      class="form-input form-control"
      [ngClass]="{ 'form-input-err': repeatNewPasswordErr }"
    />
    <p *ngIf="repeatNewPasswordErr" class="form-input-err-msg">
      Lozinke se ne poklapaju!
    </p>
  </div>
  
  <button type="submit" [disabled]="!formValid()" class="text-button">
    Promena lozinke
  </button>
  <p class="backend-err-msg">{{backendErr}}</p>
  <p>{{backendMsg}}</p>
</form>
