<div class="page-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="/" class="navbar-link">
        <fa-icon icon="house-user"></fa-icon>
        Kućerak
      </a>
    </div>
    <div class="navbar-right">
        <a *ngIf="!userExists" routerLink="/login" class="navbar-link"> Login </a>
        <div *ngIf="userExists">     
            <a routerLink="/changePassword" class="navbar-link">Promena lozinke</a>
            |
            <a routerLink="/logout" class="navbar-link">Logout</a>
        </div>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">&copy; Kućerak inc 2023</footer>
</div>
