.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--fs-500);
    padding: 1rem;
    background-color: hsl(var(--clr-accent));
}

.navbar-link{
    color: hsl(var(--clr-white));
    text-decoration: none;
}

/* after pseudoelement of all buttons except for the last */
.navbar-menu > *:not(:last-child)::after{
    content: "|";
    margin-inline: 0.5rem;
    color: hsl(var(--clr-white) / 0.5);
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-white));
    border-top: 5px solid hsl(var(--clr-accent));
    padding: 1.5rem;
    text-align: center;
}

.page-container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    /* bottom margin to compensate for footer */
    margin-bottom: 5rem;
}