:host{
    position: relative;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 10rem;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "title img"
        "desc img";
    place-items: center;
    gap: 0.5rem;
    
    width: 100%;
    height: 100%;

    background-color: hsl(var(--clr-panel));
    border-radius: 10px;

    text-decoration: none;
    color: hsl(var(--clr-white));
}

.card-container:hover, .card-container:active, .card-container:focus{
    outline: 2px solid hsl(var(--clr-accent));
}

.card-title{
    grid-area: title;
    font-size: var(--fs-600);
    align-self: start;
}

.card-desc{
    grid-area: desc;
    align-self: start;
    justify-self: start;
    font-size: var(--fs-300);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
}

.card-img{
    grid-area: img;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
}

.text-button--red,
.text-button--edit{
    position: absolute;
    bottom: 0.5rem;
    width: 2.2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-button--red{
    left: 0.5rem;
    background-color: hsl(var(--clr-red));
}

.text-button--edit{
    left: 3rem;
    width: 3.5rem;
}