
<h1>{{title}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <label for="username">Korisničko ime: </label>
    <input type="text" name="username" id="username" formControlName="username" class="form-input form-control">
    <label for="password">Lozinka: </label>
    <input type="password" name="password" id="password" formControlName="password" class="form-input form-control">
    <button type="submit" [disabled]="!loginForm.valid" class="text-button">Login</button>
    <div class="login-form-warning">
        <div *ngIf="(username.dirty || username.touched) && username.errors?.['required']">
            Morate uneti korisničko ime!
        </div>
        <div *ngIf="(password.dirty || password.touched) && password.errors?.['required']">
            Morate uneti lozinku!
        </div>
        <div *ngIf="msg!=null">
            {{msg}}
        </div>
    </div>
</form>
<p *ngIf="!isAdmin">Nemate nalog? <a routerLink="/register" class="register-link">Registrujte se</a> ovde!</p>