:host{
    align-self: center;
    width: min(90%, 90rem);
}

.housing-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 70em) {
    .housing-data{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 45em) {
}